<div class="ondo-links left-align">
    <p><span class="question-text">music ≒ 音 ?</span><span class="line-expand"></span><span class="links"><a href="/music/">music</a></span></p>
    <p><span class="question-text">music ≒ 温度 ?</span><span class="line-expand"></span><span class="links"><a href="/music/">music</a> / <a href="/log/">log.</a></span></p>
    <p><span class="question-text">music ≒ 未完成 ?</span><span class="line-expand"></span><span class="links"><a href="/music/">music</a> / <a href="/log/">log.</a> / <a href="/partner/">partner in crime</a></span></p>
    <p><span class="question-text">music ≒ グラデーション ?</span><span class="line-expand"></span><span class="links"><a href="/partner/">partner in crime</a></span></p>
  </div>
  