{{ define "main" }}

<div class="section ondo-page">

  <!-- 肩書き -->
  <div class="shoulders zen-kaku">
    文章 / log.
  </div>

  <!-- ハッシュタグエリア -->
  <div class="hashtags left-align">
    <span>#思想</span> <span>#生きづらさ</span> <span>#言語化</span> <span>#モヤモヤ</span>
    <span>#わからない</span> <span>#問い</span> <span>#悩み</span>
    <span>#未来</span> <span>#過去</span> <span>#現在</span>
    <span>#ideology</span> <span>#unspoken_feelings</span>
    <span>#vagueness</span> <span>#unknown</span> <span>#question</span>
    <span>#struggle</span> <span>#future</span> <span>#past</span> <span>#present</span>
  </div>

  <!-- キャッチコピー -->
  <div id="catch-message" class="small-catch zen-kaku">
    曖昧 . 名前のつけにくい感覚 . 言語化 . 探求 .<br>
    Unclear pain. Nameless question. Words yet to reach.
  </div>

  <!-- 作品紹介エリア -->
  <div class="discography zen-kaku left-align">
    <p>[ writing ]</p>
    <div class="discography-years">
      <p><a href="https://note.com/ondo_music/m/mc818bf368ce8" class="plain-link"><span class="arrow-blink-slow">・</span>モヤモヤの言語化 - Putting vagueness into words -</a></p>
      <p><a href="#" class="plain-link"><span class="arrow-blink-slow">・</span>ZINE（準備中）</a></p>
    </div>
  </div>
  

  <!-- ondoリンクリスト -->
  <div class="ondo-links left-align">

    <p>
      <span class="question-text">log. ≒ 音 ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/music/">music</a></span>
    </p>

    <p>
      <span class="question-text">log. ≒ 温度 ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/music/">music</a> / <a href="/log/">log.</a></span>
    </p>

    <p>
      <span class="question-text">log. ≒ 未完成 ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/music/">music</a> / <a href="/log/">log.</a> / <a href="/partner/">partner in crime</a></span>
    </p>

    <p>
      <span class="question-text">log. ≒ グラデーション ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/partner/">partner in crime</a></span>
    </p>

  </div>

  <!-- topボタン -->
  <div class="back-to-top-button">
    <a href="/" class="plain-link">top</a>
  </div>

</div>

{{ end }}
