{{ define "main" }}

<div class="section ondo-page">

  <div class="shoulders zen-kaku">
    音楽 / music
  </div>

  <div class="hashtags left-align">
    <span>#ジャンルレス</span> <span>#ビート</span> <span>#ボーカロイド</span>
    <span>#合成音声</span> <span>#DTM</span> <span>#デジタル</span>
    <span>#アナログ</span> <span>#文化</span>
    <span>#genreless</span> <span>#beat</span> <span>#vocaloid</span>
    <span>#synth_voice</span> <span>#dtm</span> <span>#digital</span> <span>#analog</span>
  </div>

  <div id="catch-message" class="small-catch zen-kaku">
    終わらない完成. 変わらない変わり続けること.<br>
    Traditional innovation. Endless completion. The only constant is change.
  </div>

  <div class="discography zen-kaku left-align">
    <p>[ discography ]</p>
    <div class="discography-years">
      <p><a href="/music/2025/" class="plain-link"><span class="arrow-blink-slow">・</span> 2025.</a></p>
      <p><a href="/music/2024/" class="plain-link"><span class="arrow-blink-slow">・</span> 2024.</a></p>
      <p><a href="/music/2023/" class="plain-link"><span class="arrow-blink-slow">・</span> 2023.</a></p>
    </div>
  </div>

  <div class="ondo-links left-align">
    <p>
      <span class="question-text">music ≒ 音 ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/music/">music</a></span>
    </p>

    <p>
      <span class="question-text">music ≒ 温度 ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/music/">music</a> / <a href="/log/">log.</a></span>
    </p>

    <p>
      <span class="question-text">music ≒ 未完成 ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/music/">music</a> / <a href="/log/">log.</a> / <a href="/partner/">partner in crime</a></span>
    </p>

    <p>
      <span class="question-text">music ≒ グラデーション ?</span>
      <span class="line-expand"></span>
      <span class="links"><a href="/partner/">partner in crime</a></span>
    </p>
  </div>

  <div class="back-to-top-button">
    <a href="/" class="plain-link">top</a>
  </div>

</div>

{{ end }}
